[submodule "Arlobot"]
	url = https://github.com/DTU-R3/ArloBot
[submodule "fiducials"]
	url = https://github.com/DTU-R3/fiducials
[submodule "gscam"]
	url = https://github.com/DTU-R3/gscam
[submodule "jetson_csi_cam"]
	url = https://github.com/DTU-R3/jetson_csi_cam
[submodule "raspicam_node"]
	url = https://github.com/DTU-R3/raspicam_node
[submodule "wheelchair-jetson"]
	url = https://github.com/DTU-R3/wheelchair-jetson
