[submodule "fiducials"]
        path = fiducials
	url = https://github.com/DTU-R3/fiducials
[submodule "gscam"]
        path = gscam
	url = https://github.com/DTU-R3/gscam
[submodule "jetson_csi_cam"]
	path = jetson_csi_cam
        url = https://github.com/DTU-R3/jetson_csi_cam
[submodule "wheelchair-jetson"]
        path = wheelchair-jetson
	url = https://github.com/DTU-R3/wheelchair-jetson
