<launch>
  <!-- Namespace -->
  <arg name="robot_frame" default="/base_footprint"/>
  <arg name="utm_frame" default="utm"/>
  <arg name="odom_frame" default="odom"/>
  
  <node pkg="waypoint_nav" type="encoder_waypoint_localization.py" name="encoder_waypoint_localization">
    <param name="waypoint_control/base_frame" value="$(arg robot_frame)"/>
    <param name="waypoint_control/gps_frame" value="$(arg utm_frame)" />
    <param name="waypoint_control/odom_frame" value="$(arg odom_frame)"/>
  </node>
  <node pkg="waypoint_nav" type="3d_waypoint_control.py" name="waypoint_control" ></node>
</launch>
