[Unit]
Description=Start padbot

[Service]
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/bin/bash -c 'source /home/pi/catkin_ws/devel/setup.bash && roslaunch padbot padbot_u1.launch.launch'
WorkingDirectory=/home/pi/catkin_ws/src
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
