<launch>
  <arg name="urdf_file" default="xacro --inorder '$(find padbot)/urdf/padbot_u1.urdf'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="5.0" />
  </node>
</launch>
